<style>
@font-face {
    font-family: "Preview Local";
    src: url("./fonts/preview-local.woff2") format("woff2");
}

.message {
    font-family: "Preview Local", sans-serif;
}
</style>
<p class="message">Font {{foo}}!</p>
